.background-image {
    background-image: url("../images/cutboard.ea31045d7987.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.create-recipe-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
    width: 100px; 
}

#id_description {
    width: 250px;
    height: 100px;
}

.preview-image {
    max-width: 150px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.button, .find_button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
    font-size: small;
    padding: 10px 20px;
}

.button:hover, .find_button:hover {
    background-color: #ff4500;
}
