

.content-container {
    z-index: 1;
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

body.fade-out .content-container {
    opacity: 0; 
}

body.fade-out .background-image {
    opacity: 0; 
}

.background-image {
    background-image: url("../images/kitchen.7ba714c241f0.jpg");
    background-size: cover;
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

.button-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
}

.btn {
    display: inline-block;
    margin: 20px;
}


